body {
  background-color: #000;
}

h1 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

li {
  font-size: 25px;
  color: #ffffff;
}

.aberto {
  background-color: green;
}

.fechado {
  background-color: red;
}
