.App{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.btn{
  padding: 8px;
}
.btn-black{
  background: #000;
  color: #fff;
  border-color: #fff;
  border-width: 1px;
  outline: none;
}
.btn-blue{
  background: #3297bf;
  color: #fff;
  border-color: #fff;
  border-width: 1px;
  outline: none;
}
.btn-green{
  background: #3d8025;
  color: #fff;
  border-color: #fff;
  border-width: 1px;
  outline: none;
}
.titulo{
  color: #fff;
  text-align: center;
  font-size: 30px;
  padding: 5px;
}